*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #0F1626;
}

h1{
    margin: auto;
    text-align: center;
    padding: 50px;
    color: antiquewhite;
}

div{
    display: flex;
    justify-content: center;
}

table{
    width: 500px;
    background-color: #2e2e2e;
    border: 5px solid #0F1626;
    border-collapse:collapse ;
    
}

.table-head{
    padding: 20px;
    border: 10px solid #0F1626;
    font-size: 40px;
    color: #F22E3E;
}

.table-score{
    width: 500px;
    height: 90px;
    border: 10px solid #0F1626;
    font-size: 40px;
    color: #27F25A;
}

.points-add{
    padding: 20px;
    border: 10px solid #0F1626;
}

button{
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #F2B705;
    border: 2px solid #F2B705;
    border-radius: 10px;
    background-color: #2e2e2e;
}

.reset-home{
    background-color: rgb(231, 26, 26);
    color: white;
    border: none;
}

.reset-guest{
    background-color: rgb(231, 26, 26);
    color: white;
    border: none;
}

.rest-btn{
    border: 10px solid #0F1626;
}